/* ensure all pages have Bootstrap CSS */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '~bootswatch/dist/cerulean/bootstrap.min.css'; */
/* @import '~bootswatch/dist/cosmo/bootstrap.min.css'; */
/* @import '~bootswatch/dist/cyborg/bootstrap.min.css'; */
/* @import '~bootswatch/dist/darkly/bootstrap.min.css'; */
/* @import '~bootswatch/dist/flatly/bootstrap.min.css'; */
/* @import '~bootswatch/dist/journal/bootstrap.min.css'; */
/* @import '~bootswatch/dist/litera/bootstrap.min.css'; */
/* @import '~bootswatch/dist/lumen/bootstrap.min.css'; */
/* @import '~bootswatch/dist/lux/bootstrap.min.css'; */
/* @import '~bootswatch/dist/materia/bootstrap.min.css'; */
/* @import '~bootswatch/dist/minty/bootstrap.min.css'; */
/* @import '~bootswatch/dist/morph/bootstrap.min.css'; */
/* @import '~bootswatch/dist/pulse/bootstrap.min.css'; */
/* @import '~bootswatch/dist/quartz/bootstrap.min.css'; */
/* @import '~bootswatch/dist/sandstone/bootstrap.min.css'; */
/* @import '~bootswatch/dist/simplex/bootstrap.min.css'; */
/* @import '~bootswatch/dist/sketchy/bootstrap.min.css'; */
/* @import '~bootswatch/dist/slate/bootstrap.min.css'; */
/* @import '~bootswatch/dist/solar/bootstrap.min.css'; */
/* @import '~bootswatch/dist/spacelab/bootstrap.min.css'; */
@import '~bootswatch/dist/superhero/bootstrap.min.css';
/* @import '~bootswatch/dist/united/bootstrap.min.css'; */
/* @import '~bootswatch/dist/vapor/bootstrap.min.css'; */
/* @import '~bootswatch/dist/yeti/bootstrap.min.css'; */
/* @import '~bootswatch/dist/zephyr/bootstrap.min.css'; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

body {
  font-family: 'Roboto', sans-serif;
}
.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
